body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
table {
    width: 100%;
    border-collapse: collapse;
}
th span {
    margin-right: 0;
    float: right;
}
th span:hover {
    color: #808080;
    cursor: pointer;
}
table, th, td {
    border: 1px solid #CECECE;
}
thead tr{
    background-color: #D9D9D9;
}
tbody tr:hover {
    background-color: #fbfbfb;
}

tbody tr {
    font-weight: 100;
    color: #505050;
    cursor: pointer;
}
th, td {
    padding: 8px;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

.page-btn {
    height: 30px;
    width: 30px;
    padding: 5px 10px;
    margin-right: 0;
    border: 0.5px solid #ccc;
    background-color: #D9D9D9;
    color: #333;
    cursor: pointer;
}

.page-btn:hover {
    background-color: #e9e9e9;
}

.page-btn.active {
    background-color: #fff;
    color: #000000;
}
  

.results-per-page {
    margin-top: 10px;
}
  
  .results-per-page label {
    margin-right: 10px;
    font-weight: 900;
    font-size: small;
  }
  
  .results-per-page select {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    cursor: pointer;
  }
  
  .results-per-page select:hover {
    background-color: #f9f9f9;
  }
  
  .results-per-page select:focus {
    outline: none;
    border-color: #333;
  }

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#record-count {
    margin-top: 8px;
    margin-right: 10px;
    font-weight: 900;
    font-size: small;
}

h1 {
    text-align: center;
    padding-bottom: 50px;
}

#total-count {
    font-weight: 900;
    font-size: small;
}